@font-face {
	font-family:fk_Light;
	src:url(../font/ThaiSansNeue-Light.otf) format("truetype");
}
@font-face {
	font-family:fk_Bold;
	src:url(../font/ThaiSansNeue-ExtraBold.otf) format("truetype");
}
/*============================*/
.fk{
	font-family:fk_Light;
	letter-spacing: 0.5pt;
	font-size: 18pt;
}
.fk .xb{
	font-family:fk_Bold;
}
.fk h1,.fk h1.xb{
	font-size:40pt;
}
.fk h1.xb{
	font-family:fk_Bold;
}
/*============================*/
.fk .topbar{
	background-color:rgba(0, 0, 0, 0.60);
	overflow:auto;
}
.fk .logo{
	background-image:url('../img/logo_and_icon/logo_Landing_page.png');
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:86px;
	width:166px;
	margin-left:72px;
	margin-top:2px;
	float:left;
}
@media (max-width: 768px) {
	.fk .logo{
		display:block;
		margin:0 auto;
		float:none;
	}
}
.fk .menu{
	float:right;
	margin-top:30px;
	margin-right:30px;
}
.fk .menu ul{
	list-style:none;
	margin:0;
	padding:0;
}
.fk .menu li{
	display:inline-block;
}
.fk .menu li a{
	height:35px;
	line-height:35px;
	padding:6px;
}
.fk .landing{
	background-image:url('../img/bg/bg_supplier1.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:760px;
}

.fk .restaurant-landing{
	background-image:url('../img/bg/bg_restaurant1.png');
}
.fk .landing .registerBt button{
	border:none;
	background-color:#008700;
	border-radius:30px;
	padding:10px 15px;
	margin-top:50px;
	font-size:20pt;
	letter-spacing:1pt;
}
.fk .landing .restaurant-registerBt button{
	background-color:#d93c00;
}


.fk .howWork{
	background-color:#FFF;
	text-align:center;
	padding:60px 0;
}
.fk .howWork h1{
	margin:30px auto;
}
.fk .howWork h2{
	font-size:25px;
	color:#000;
}

.fk .howWork ul{
	list-style:none;
	padding:0;
	margin:0;
}
.fk .howWork .box{
	display:inline-block;
	width:18%;
}
@media (max-width: 768px) {
	.fk .howWork .box{
		display:block;
		width:100%;
	}
}
.fk .howWork .box img{
	width:85px;
}

.fk .whyFk{
	background-image:url('../img/bg/bg_supplier2.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	min-height:527px;
	overflow:auto;
}
.fk .whyFk .box{
	padding:30px 50px;
}
.fk .whyFk .box img{
	float:left;
	width:100px;
}
.fk .whyFk .box .text{
	font-size:15pt;
}

.fk .supplier{
	padding:50px 0;
	font-size:24px;
}
.fk .supplier .mac-slide{
	background-image:url('../img/Mac.png');
	background-repeat:no-repeat;
	background-size:contain;
	height:380px;
}
.fk .supplier .registerBt button{
	border:solid 2px #008700;
	background-color:transparent;
	border-radius:30px;
	padding:10px 15px;
	margin-top:50px;
	font-size:20pt;
}
.fk .restaurant .registerBt button{
	border:solid 2px #d93c00;
}
@media (max-width: 768px) {
	.fk .supplier .registerBt{
		text-align:center;
	}
}

.fk .footer{
	background-image:url('../img/bg/bg_footer.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:346px;
	font-size:18pt;
}
.fk .footer .contactBox{
	margin-top:70px;
	padding-left:70px;
}
.fk .footer .registerBt button{
	border:solid 2px #FFF;
	background-color:transparent;
	border-radius:30px;
	padding:10px 70px;
	margin-top:30px;
	font-size:20pt;
}

.fk .white{color:#FFF;}
.fk .red{color:#d93c00;}
.fk .green{color:#008700;}


.fk .modal-content{
	border-radius:0;
}
.fk .modal-body input[type="text"]{
	width: 80%;
    margin: 10px;
    font-size: 20px;
    line-height: 26px;
    padding: 9px;
}
.fk .modal-body input[type="checkbox"]{
	width:30px;
	height:30px;
}
.fk .modal-header,.modal-footer{
	border:0;
}
.fk .modal-footer{
	text-align:center;
	padding-bottom:50px;
}
.fk .modal-footer button{
	border:solid 2px #008700;
	background-color:transparent;
	border-radius:30px;
	padding:10px 40px;
	margin-top:50px;
	font-size:20px;
}
.fk .modal-footer button.restaurant{
	border:solid 2px #d93c00;
}
.fk button.green,.fk button.red,fk select{
	border:solid 2px #008700;
	background-color:transparent;
	border-radius:30px;
	padding:10px 40px;
	font-size:20px;
	white-space:nowrap;
}
.fk button.red{
	border:solid 2px #d93c00;
}

.fk .frm_info{
	width:580px;
	padding:0 40pt;
	margin:15px auto 0 auto;
	background-color:#FFF;
}
.fk .frm_info .profile_logo{
	width:150px;
	height:150px;
	margin:0 auto;
	border-radius:50%;
	background-color:#464646;
}

.fk .frm_info input[type="text"],.fk .frm_info textarea{
	width:100%;
	margin:1px 0;
}
.fk button.addMore{
    border:none;
    padding:0;
    background-color:transparent;
    font-size:.9em;
}
.fk button.addMore span{
    border:1px solid #ccc;
    border-radius:50%;
    padding:.3em;
}
.fk .err{
	border-color:#a94442;
}


