<div class="modal fade" id="frm_restaurant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
            <div><img src="img/logo_and_icon/Res.png" style="width:50px;" /></div>
            <div style="font-size:30pt;margin:10px 0 20px 0;">สมัครเป็น<span class="red">ร้านอาหาร</span></div>
            <div><input id="user" type="text" placeholder="อีเมล์ผู้ใช้" /></div>
            <div><input id="password" type="text" placeholder="รหัสผ่าน" /></div>
            <div><input id="passwordConfirm" type="text" placeholder="ยืนยันรหัสผ่าน" /></div>
            <div style="width: 80%;margin: 0 auto;text-align:left;overflow: auto;">
            	<div style="display:inline-block;float: left;;"><input id="agreement" type="checkbox" /></div>
                <div style="display:inline-block;float: left;width: 410px;padding-left: 10px;">คุณได้อ่านและยอมรับข้อตกลงและเงื่อนไขในการใช้งาน รวมถึงนโยบายความเป็นส่วนตัวเรียบร้อยแล้ว</div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="red restaurant" onclick="$.restaurant.register_submit()">ตกลง</button>
      </div>
    </div>
  </div>
</div>