<div class="frm_info" style="padding-bottom: 20pt;">
        <div class="text-center"><img src="img/logo_and_icon/Sup.png" width="50" /></div>
        <div class="text-center"><h2 style="font-size:30pt;">ข้อมูล<span class="green">ซัพพลายเออร์</span></h2></div>
        <div class="text-center">
        	<div class="profile_logo"></div>
        	<div style="color:#B2B2B2;font-size:15pt;">(ขนาดแนะนำ 300x300px)</div>
        </div>
        <div class="green">ชื่อร้าน*</div>
        <div><input type="text" /></div>
        <div class="green">เลขที่จดทะเบียนบริษัท*</div>
        <div><input type="text" /></div>
        <div class="green">ที่อยู่บริษัท*</div>
        <div><input type="text" /></div>
        <div class="green">เลขที่บัญชีธนาคาร*</div>
        <div><input type="text" /></div>
        <div class="green">ที่อยู่สำหรับวางบิล*</div>
        <div><input type="text" /></div>
        <div class="green">จดทะเบียนภาษีมูลค่าเพิ่มหรือไม่?*</div>
        <div class="row">
        	<div class="col-lg-6"><input type="checkbox" /> จดทะเบียน</div>
            <div class="col-lg-6"><input type="checkbox" /> ไม่จดทะเบียน</div>
        </div>
        <div class="green">ประกันสินค้า*</div>
        <div class="row">
        	<div class="col-lg-6"><input type="checkbox" /> หักเงินคืน <span class="glyphicon glyphicon-info-sign green small" data-toggle="tooltip"  data-content="ซัพพลายเออร์และร้านอาหาร<br>ต้องตกลงการคืนเงินสินค้าร่วมกัน<br>และซัพพลายเออร์ต้องหาสินค้า<br>มาทดแทนตามประเภทและจำนวน<br>ที่ตกลงกันใน24ชั่วโมง"></span></div>
            <div class="col-lg-6"><input type="checkbox" /> จัดหาสินค้าใหม่ <span class="glyphicon glyphicon-info-sign green small" data-toggle="tooltip" data-content="ซัพพลายเออร์และร้านอาหาร<br>ต้องตกลงการหังเงินคืนร่วมกัน<br>และให้ร้านอาหารชำระเงินเฉพาะ<br>สินค้าที่ยอมรับตามตกลงเท่านั้น"></span></div>
        </div>
        <div style="overflow:auto;"><input type="checkbox" /> อื่นๆ <input type="text" style="width: 80%;margin-right: .2em;float:right;margin-right:0;" /></div>
        <div class="green">ประเภทธุรกิจ*</div>
        <div class="row">
        	<div class="col-lg-6"><input type="checkbox" /> ครบวงจร <span class="glyphicon glyphicon-info-sign green small" data-toggle="tooltip" data-content="ผลิตหรือ จัดหาและจัดส่งสินค้า<br>หลากหลายตั้งแต่ 3 ประเภทขึ้นไป"></span></div>
            <div class="col-lg-6"><input type="checkbox" /> สินค้าเจาะจง <span class="glyphicon glyphicon-info-sign green small" data-toggle="tooltip" data-content="ผลิตหรือจัดหาและจัดส่งสินค้า<br>1-2 ประเภทขึ้นไป"></span></div>
        </div>
        <div style="overflow:auto;"><input type="checkbox" /> อื่นๆ <input type="text" style="width: 80%;margin-right: .2em;float:right;margin-right:0;" /></div>
        <div class="green">เบอร์โทรศัพท์ร้าน</div>
        <div><input type="text" /></div>
        <div class="green">เบอร์โทรศัพท์มือถือ*</div>
        <div><input type="text" /></div>
        <div class="green">อีเมล์*</div>
        <div><input type="text" /></div>
        <div class="green">ชื้อผู้ติดต่อหรือแผนก</div>
        <div><input type="text" /></div>
        <div class="green">ประเภทผลิตภัณฑ์<span style="color:#B2B2B2;font-size:15pt;">(เลือกได้มากกว่า 1 รายการ)</span>*</div>
        <div class="row">
        	<div class="col-lg-6"><input type="checkbox" /> ผัก</div>
            <div class="col-lg-6"><input type="checkbox" /> ผลิตภัณฑ์นำเข้า</div>
            <div class="col-lg-6"><input type="checkbox" /> ผลไม้</div>
            <div class="col-lg-6"><input type="checkbox" /> อาหารแห้ง</div>
            <div class="col-lg-6"><input type="checkbox" /> เนื้อสัตว์</div>
            <div class="col-lg-6"><input type="checkbox" /> ผลิตภัณฑ์เกี่ยวกับนม</div>
            <div class="col-lg-6"><input type="checkbox" /> อาหารทะเล</div>
            <div class="col-lg-6"><input type="checkbox" /> อาหารำระป๋อง</div>
            <div class="col-lg-6"><input type="checkbox" /> อาหารแข่แข็ง</div>
            <div class="col-lg-6"><input type="checkbox" /> เบเกอรี่</div>
            <div class="col-lg-6"><input type="checkbox" /> เครื่องดิ่ม</div>
            <div class="col-lg-6"><input type="checkbox" /> เครื่องปรุง</div>
        </div>
        <div><input type="checkbox" /> อื่นๆ
            <div style="padding-left:1em;"><input type="text" style="width: 80%;margin-right: .2em;" /><button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button></div>
        </div>
        <div class="green">บรรยายรายละเอียดร้าน (ไม่เกิน 250 คำ)*</div>
        <div><textarea style="resize:none;"></textarea></div>
    </div>
    <div class="frm_info" style="overflow:auto;">
        <div class="row" style="padding: 20px 0;">
        	<div class="col-lg-8"><strong class="green">อัพรูป</strong> (สูงสุด 5 รูป)<br />เช่น รูปาถจัดส่ง รูปสินค้า บรรจุภัณฑ์</div>
            <div class="col-lg-4"><button class="green" type="button">อัพโหลด</button></div>
            <div style="clear:both;">
            	<span>sdfsd</span>
            </div>
        </div>
    </div>
    <div class="frm_info" style="overflow:auto;">
        <div class="row" style="padding: 20px 0;">
        	<div class="col-lg-8"><strong class="green">อัพเคตตาล๊อก</strong> (สูงสุด 5 ไฟล์)<br />แนะนำไฟล์ .pdf</div>
            <div class="col-lg-4"><button class="green" type="button">อัพโหลด</button></div>
            <div style="clear:both;">
            	<span>sdfsd</span>
            </div>
        </div>
    </div>
    <div class="frm_info" style="background-color:#131313;margin: 0;padding: 0;width: 100%;">
        <div class="row" style="padding: 20px 0;">
            <div class="col-lg-4 col-xs-offset-8" style="text-align: right;"><div><button class="green" type="button" onclick="$.supplier.register_submit_step2()">ถัดไป &gt;</button></div></div>
        </div>
    </div>