<div class="frm_info" style="padding-bottom: 20pt;">
    <div class="text-center"><h2 style="font-size:30pt;">ข้อมูล<span class="green">บริการ</span></h2></div>
    <div class="green">วันหยุดร้าน</div>
    <div style="padding-left:.5em">
        <div><input type="checkbox" /> วันจันทร์</div>
        <div><input type="checkbox" /> วันอังคาร</div>
        <div><input type="checkbox" /> วันพุธ</div>
        <div><input type="checkbox" /> วันพฤหัสบดี</div>
        <div><input type="checkbox" /> วันศุกร์</div>
        <div><input type="checkbox" /> วันเสาร์</div>
        <div><input type="checkbox" /> วันอาทิตย์</div>
        <div><input type="checkbox" /> ขยันไม่หยุด</div>
    </div>
    <div class="green">เวลาเปิดปิดร้าน*</div>
    <div>
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" /> ถึง
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" />
    </div>
    <div class="green">เวลารับออเดอร์<span style="color:#B2B2B2;font-size:15pt;">(24 ชั่วโมง)</span>*</div>
    <div>
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" /> ถึง
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" />
    </div>
    <div class="green">เวลาจัดส่งออเดอร์<span style="color:#B2B2B2;font-size:15pt;">(24 ชั่วโมง)</span>*</div>
    <div>
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" /> ถึง
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" />
    </div>
    <div class="green">ประเภทของรถในการจัดส่ง/จำนวน*</div>
    <div class="row">
        <div class="col-lg-7">รถกระบะ</div>
        <div class="col-lg-5">
            <button type="button" class="addMore"><span class="glyphicon glyphicon-minus"></span></button>
            <input type="text" style="width:30%;" />
            <button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">รถห้องเย็น</div>
        <div class="col-lg-5">
            <button type="button" class="addMore"><span class="glyphicon glyphicon-minus"></span></button>
            <input type="text" style="width:30%;" />
            <button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">รถหกล้อ</div>
        <div class="col-lg-5">
            <button type="button" class="addMore"><span class="glyphicon glyphicon-minus"></span></button>
            <input type="text" style="width:30%;" />
            <button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">รถสามล้อ</div>
        <div class="col-lg-5">
            <button type="button" class="addMore"><span class="glyphicon glyphicon-minus"></span></button>
            <input type="text" style="width:30%;" />
            <button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">รถมอเตอร์ไซค์</div>
        <div class="col-lg-5">
            <button type="button" class="addMore"><span class="glyphicon glyphicon-minus"></span></button>
            <input type="text" style="width:30%;" />
            <button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <input type="checkbox" />อื่นๆ <input type="text" style="width:80%;" />
        </div>
        <div class="col-lg-5">
            <button type="button" class="addMore"><span class="glyphicon glyphicon-minus"></span></button>
            <input type="text" style="width:30%;" />
            <button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
    <div class="green">ระบบมาตรฐานคุณภาพที่ได้รับ (Certification)</div>
    <div style="padding-left:.5em">
        <div><input type="checkbox" /> GAP</div>
        <div><input type="checkbox" /> GMP</div>
        <div><input type="checkbox" /> IFOAM</div>
        <div><input type="checkbox" /> Halal</div>
        <div><input type="checkbox" /> Organic Thailand</div>
        <div><input type="checkbox" /> Q</div>
        <div><input type="checkbox" /> อย</div>
        <div><input type="checkbox" /> อื่นๆ
            <div style="padding-left:1em;"><input type="text" style="width: 80%;margin-right: .2em;" /><button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button></div>
        </div>
    </div>
    <div class="green">บริการพิเศษ*</div>
    <div style="padding-left:.5em">
        <div><input type="checkbox" /> จัดชุด</div>
        <div><input type="checkbox" /> ตกแต่ง</div>
        <div><input type="checkbox" /> ตัดแต่ง</div>
        <div><input type="checkbox" /> ทำความสะอาด</div>
        <div><input type="checkbox" /> บริการจัดส่งด่วน(1-3 ชั่วโมง)</div>
        <div><input type="checkbox" /> อื่นๆ
            <div style="padding-left:1em;"><input type="text" style="width: 80%;margin-right: .2em;" /><button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button></div>
        </div>
    </div>
</div>
<div class="frm_info" style="overflow:auto;padding-top: 20pt;padding-bottom: 20pt;">
    <div class="green">พื่นที่ในการจัดส่ง*</div>
    <select style="width:50%;padding:0 1px;padding:0 1px;">
        <option value="0">จังหวัดในการจัดส่ง</option>
    </select><br />
    <select style="width:50%;padding:0 1px;margin: 0.2em 1px;" >
        <option value="0">เขตในการจัดส่ง</option>
    </select> เลือกได้มากกว่า 1 เขต
    <div class="green">ออเดอร์ขั้นต่ำ</div>
    <div>
        <input placeholder="จำนวน" type="text" style="width:30%;" /> / 
        <select style="width:30%;">
            <option value="0">หน่วย</option>
        </select>
    </div>
</div>
<div class="frm_info" style="background-color:#131313;margin: 0;padding: 0;width: 100%;">
    <div class="row" style="padding: 20px 0;">
        <div class="col-xs-4"><button class="green" type="button" onClick="$.supplier.register_submit_step2_back()">&lt; ย้อนกลับ</button></div>
        <div class="col-xs-4 col-lg-offset-4" style="text-align: right;"><div><button class="green" type="button" onclick="$.supplier.register_submit_step_final()">เสร็จ &gt;</button></div></div>
    </div>
</div>