<div class="frm_info" style="padding-bottom: 20pt;">
    <div class="text-center"><h2 style="font-size:30pt;">ข้อมูล<span class="red">บริการร้านอาหาร</span></h2></div>
    <div class="red">วันหยุดร้าน</div>
    <div style="padding-left:.5em">
        <div><input type="checkbox" /> วันจันทร์</div>
        <div><input type="checkbox" /> วันอังคาร</div>
        <div><input type="checkbox" /> วันพุธ</div>
        <div><input type="checkbox" /> วันพฤหัสบดี</div>
        <div><input type="checkbox" /> วันศุกร์</div>
        <div><input type="checkbox" /> วันเสาร์</div>
        <div><input type="checkbox" /> วันอาทิตย์</div>
        <div><input type="checkbox" /> ขยันไม่หยุด</div>
    </div>
    <div class="red">เวลาเปิดปิดร้านวันจันทร์-ศุกร์<span style="color:#B2B2B2;font-size:15pt;">(24 ชั่วโมง)</span>*</div>
    <div>
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" /> ถึง
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" />
    </div>
    <div class="red">เวลาเปิดปิดร้านวันเสาร์-อาทิตย์, วันหยุดนักขัตฤกษ์<span style="color:#B2B2B2;font-size:15pt;">(24 ชั่วโมง)</span>*</div>
    <div>
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" /> ถึง
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" />
    </div>
    <div class="red">เวลารับสินค้า<span style="color:#B2B2B2;font-size:15pt;">(24 ชั่วโมง)</span>*</div>
    <div>
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" /> ถึง
        <input type="text" style="width:10%;" /> : <input type="text" style="width:10%;" />
    </div>
    <div class="red">จำนวนโต๊ะ*</div>
    <div>
        <button type="button" class="addMore"><span class="glyphicon glyphicon-minus"></span></button>
        <input type="text" style="width:30%;" />
        <button type="button" class="addMore"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="red">ราคาเฉลี่ยต่อหัว</div>
    <div><input placeholder="บาท" type="text" style="width:20%;" /> / <input placeholder="คน" type="text" style="width:15%;" /></div>
</div>
<div class="frm_info" style="overflow:auto;padding-top: 20pt;padding-bottom: 20pt;">
    <div class="red">ที่อยู่ในการจัดส่ง*</div>
    <div><input placeholder="ที่อยู่" type="text" /></div>
    <div>
        <input placeholder="เขต" type="text" style="width:49%;" />
        <input placeholder="รหัสไปรณีย์" type="text" style="width:49%;" />
    </div>
    <div><input placeholder="จังหวัด" type="text" /></div>
    <div class="red">แผนที่แบบURL</div>
    <div><input type="text" /></div>
</div>
<div class="frm_info" style="padding:40px 0 30px 0;background-color:#131313;width: 100%;">
    <div class="row">
        <div class="col-lg-4"><button class="red" type="button" onclick="$.restaurant.register_submit_step2_back()">&lt; ย้อนกลับ</button></div>
        <div class="col-lg-4 col-lg-offset-4" style="text-align:right;"><button class="red" type="button" onclick="$.restaurant.register_submit_step_final()">เสร็จ &gt;</button></div>
    </div>
</div>