<div class="frm_info" style="padding-bottom: 20pt;">
    <div class="text-center"><img src="img/logo_and_icon/Res.png" width="50" /></div>
    <div class="text-center"><h2 style="font-size:30pt;">ข้อมูล<span class="red">ร้านอาหาร</span></h2></div>
    <div class="text-center">
        <div class="profile_logo"></div>
        <div style="color:#B2B2B2;font-size:15pt;">(ขนาดแนะนำ 300x300px)</div>
    </div>
    <div class="red">ชื่อบริษัท*</div>
    <div><input type="text" /></div>
    <div class="red">เลขที่จดทะเบียนบริษัท <span style="color:#B2B2B2;font-size:15pt;">(ถ้ามี)</span></div>
    <div><input type="text" /></div>
    <div class="red">ที่อยู่บริษัท*</div>
    <div><input type="text" /></div>
    <div class="red">ที่อยู่สำหรับวางบิล*</div>
    <div><input type="text" /></div>
    <div class="red">จดทะเบียนภาษีมูลค่าเพิ่มหรือไม่?*</div>
    <div class="red">ชื่อร้านอาหาร*</div>
    <div><input type="text" /></div>
    <div class="red">ประเภทร้านอาหาร*</div>
    <div><input type="text" /></div>
    <div class="red">เบอร์โทรศัพท์ร้าน*</div>
    <div><input type="text" /></div>
    <div class="red">เบอร์่โทรศัพท์มือถือ*</div>
    <div><input type="text" /></div>
    <div class="red">อีเมล์*</div>
    <div><input type="text" /></div>
    <div class="red">ชื่อผู้ติดต่อหรือแผนก*</div>
    <div><input type="text" /></div>
    <div class="red">เปิดมากี่ปีแล้ว*</div>
    <div style="padding-left:.5em">
        <div><input type="checkbox" /> ไม่ถึงปี</div>
        <div><input type="checkbox" /> 1 ปี</div>
        <div><input type="checkbox" /> 2-3 ปี</div>
        <div><input type="checkbox" /> 4-5 ปี</div>
        <div><input type="checkbox" /> 5 ปีขึ้นไป</div>
        <div style="overflow:auto;"><input type="checkbox" /> อื่นๆ <input type="text" style="width: 80%;margin-right: .2em;float:right;margin-right:0;" /></div>
    </div>
    <div><textarea rows="3" style="resize:none;" placeholder="บรรยายรายละเอียดของร้าน (ไม่เกิน 250 คำ)"></textarea></div>
    <div class="red">มาตรฐานคุณภาพที่ได้รับ</div>
    <div><input type="text" /></div>
</div>
<div class="frm_info" style="padding:40px 0 30px 0;background-color:#131313;width: 100%;">
    <div class="row" style="text-align:right;">
        <div class="col-lg-4 col-xs-offset-8"><div><button class="red" type="button" onClick="$.restaurant.register_submit_step2()">ถัดไป &gt;</button></div></div>
    </div>
</div>